// IMPORTS

@import "contact";

// FONT

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto.ttf");
}

$regular: normal 400 16px/26px Roboto;
$medium: normal 300 36px/46px Roboto;
$large: normal 300 64px/74px Roboto;

// COLORS

$black: #000;
$blue1: #1f3f68;
$blue2: #5a98d0;
$white: #fff;

// COMMON STYLES

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  transition: filter 0.5s ease; /* Filter animation */
}
.hidden {
  /* display: none; */
  opacity: 0;
}
.visible {
  opacity: 1;
}
#theme-toggle {
  cursor: pointer;
  transition: transform 0.5s ease; /* Rotation animation */
}
.black-and-white {
  filter: grayscale(100%);
}

// MIXINS

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

// HOME PAGE

.wrapper {
  @include flexbox();
  min-height: 100vh;
  flex-direction: column;
  overflow: clip;
}
.header,
.footer {
  flex-shrink: 0;
}
.main {
  flex-grow: 1;
}
.container {
  @include flexbox();
  flex-direction: column;
  max-width: 1040px;
  margin: 0 auto;
}

// HEADER

.header {
  background: linear-gradient(
    0deg,
    #ebf3fb 8.84%,
    rgba(152, 195, 232, 0) 31.12%
  );
  height: 768px;
}
.header {
  nav {
    width: 100%;
  }
  .menu {
    @include flexbox();
    padding: 36px 0;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    a {
      display: block;
      text-decoration: none;
    }
    li:last-child {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    li:nth-child(1) a {
      width: 45.58px;
      height: 48px;
      background: url("../images/svg/logo.svg");
    }
    li:nth-child(2) a:first-child {
      width: 46px;
      height: 48px;
      background: url("../images/icons/home-icon.svg");
      background-size: contain;
    }
    li:nth-child(2) a:last-child {
      width: 32px;
      height: 48px;
      background: url(../images/icons/contact.svg) center no-repeat;
      background-size: contain;
    }
    li:nth-child(2) a:first-child.active {
      background: url("../images/icons/home-icon2.svg") no-repeat;
      background-size: contain;
      background-position: top;
    }
    li:nth-child(2) a:last-child.active {
      background: url("../images/icons/contact2.svg") center no-repeat;
      background-size: contain;
    }
  }
}
.header {
  .hero {
    height: 481.39px;
    margin-top: 70px;
    background: url("../images/svg/illustration.svg") top right no-repeat;
    h1 {
      padding: 30.16px 0 32px 0;
      margin: 0;
      color: $blue1;
      font: $large;
      letter-spacing: 2.56px;
    }
    p {
      width: 425px;
      margin-bottom: 71px;
      color: $blue1;
      font: $regular;
      letter-spacing: 0.8px;
      opacity: 0.6;
    }
    a {
      background: $blue2;
      padding: 15px 50px;
      color: $white;
      font: $regular;
      letter-spacing: 0.64px;
      text-decoration: none;
      box-shadow: 5px 10px 20px 0px rgba(53, 110, 173, 0.2);
      border-radius: 10px;
    }
  }
}

// SERVICES

.services {
  margin-bottom: 64px;
  h3 {
    margin: 64px 0 64.11px 0;
    color: $black;
    text-align: center;
    font: $medium;
    letter-spacing: 1.8px;
  }
  .card-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, 325.33px);
    grid-template-rows: 480.134px;
    justify-content: center;
    gap: 32px;
  }
  .card-item {
    width: 325.33px;
    height: 480.134px;
    padding: 44px 32px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    border-radius: 10px;
    box-shadow: 5px 20px 50px 0px rgba(16, 112, 177, 0.2);
    h4 {
      color: $blue1;
      font: normal 400 18px/30px Roboto;
      letter-spacing: 1px;
    }
    p {
      padding: 14px 0 28px 0;
      color: $blue1;
      font: $regular;
      letter-spacing: 0.8px;
      opacity: 0.6;
    }
    span {
      align-self: end;
      a {
        color: $blue2;
        font: normal 400 14px/30px Roboto;
        align-self: end;
        text-decoration: none;
        letter-spacing: 0.7px;
      }
      a::after {
        content: url("../images/icons/arrow-forward.svg");
        position: relative;
        top: 8px;
        left: 20px;
      }
    }
  }
  .card-icon {
    width: 180px;
    height: 140px;
    margin: 0 auto;
  }
  .icon-1,
  .icon-2,
  .icon-3 {
    margin-bottom: 44px;
  }
  .icon-1 {
    background: url("../images/png/internet.png") center center no-repeat;
  }
  .icon-2 {
    background: url("../images/png/technology.png") center center no-repeat;
  }
  .icon-3 {
    background: url("../images/png/digital.png") center center no-repeat;
  }
}

// PROJECTS

.projects {
  h3 {
    color: $black;
    font: $medium;
    text-align: center;
    letter-spacing: 1.8px;
  }
  p {
    padding: 32px 0;
    color: #222;
    font: $regular;
    text-align: center;
    letter-spacing: 0.8px;
  }
  .project-box {
    margin-top: 32px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(2, 510px);
    grid-template-rows: 437px 384px;
    gap: 20px;
  }
  .project-item {
    span {
      color: $white;
      display: block;
    }
    &.item-1 {
      grid-column: span 2;
      grid-row: 1/2;
      background: url("../images/smart-home.jpg") no-repeat;
      background-size: cover;
      span {
        margin: 64px;
        font: 400 32px/144% Roboto;
        text-align: right;
        letter-spacing: 0.05em;
      }
    }
    &.item-2,
    &.item-3 {
      padding: 32px;
      grid-column: span 1;
      color: $white;
      font: 400 28px/164% Roboto;
      letter-spacing: 0.05em;
    }
    &.item-2 {
      background: url("../images/sparklite-app.jpg") no-repeat;
      background-size: cover;
    }
    &.item-3 {
      background: url("../images/car-rapetition-app.jpg") no-repeat;
      background-size: cover;
    }
  }
}

// FOOTER

.footer {
  background: #316099;
}
.footer-top,
.footer-bottom {
  @include flexbox();
}
.footer-top {
  padding: 94px 0;
  justify-content: space-between;
  div {
    @include flexbox();
    width: 50%;
  }
  div p,
  div button {
    color: $white;
    font: 400 16px/162% "Roboto";
  }
  div:nth-of-type(1) {
    flex-direction: column;
    align-items: flex-start;
    h3 {
      margin-bottom: 32px;
      color: $white;
      font: 400 36px/128% "Roboto";
      letter-spacing: 0.05em;
    }
    p {
      letter-spacing: 0.05em;
      opacity: 0.6;
    }
  }
  div:nth-of-type(2) {
    justify-content: flex-end;
    align-items: center;
    button {
      width: 236px;
      height: 56px;
      letter-spacing: 0.04em;
      background: #5a98d0;
      border: none;
      cursor: pointer;
    }
    button:hover {
      background: #88b1d5;
    }
  }
}
.footer-bottom {
  margin: 64px 0;
  @include flexbox();
  justify-content: flex-start;
  gap: 32px;
  li {
    width: 33.3%;
    padding-left: 18px;
    margin-left: 18px;
  }
  a {
    text-decoration: none;
    &:hover {
      color: $blue2;
    }
  }
  li,
  a {
    color: $white;
    font: 400 16px/162% "Roboto";
    letter-spacing: 0.05em;
  }
}
.copyright {
  margin-bottom: 64px;
  p {
    color: $white;
    font: 400 16px/162% "Roboto";
    letter-spacing: 0.05em;
    opacity: 0.4;
  }
}

// MEDIA QUERIES

@import "responsive";
