// FONT

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto.ttf')
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: normal 400 16px/normal Roboto;
}